# Update the Batch and Storage account credential strings below with the values
# unique to your accounts. These are used when constructing connection strings
# for the Batch and Storage client objects.
# Replace <> (angle brackets) and the string between them with your values
# Note: location is the lowercase region e.g. uswest2
[DEFAULT]
_BATCH_ACCOUNT_NAME = <account_name>
_BATCH_ACCOUNT_KEY = <account_key>
_BATCH_ACCOUNT_URL = https://<account_name>.<location>.batch.azure.com
_STORAGE_ACCOUNT_NAME = <storage_account_name>
_STORAGE_ACCOUNT_KEY = <storage_account_key>
_STORAGE_ACCOUNT_DOMAIN = blob.core.windows.net